<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="/js2/jquery.min.js"></script>
    <script src="/js2/layui/layui.js"></script>
    <link rel="stylesheet" href="/js2/layui/css/layui.css">


</head>
<body>
<div id="stay"   style="float: left">
</div>

<div id="rental" style="float: left;margin-left: 400px">
</div>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>


<div class=" layui-row">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="draw" lay-filter="draw" id="draw" style="width:10px" >
                     <option value="1">订单号</option>
                     <option value="2">发货姓名</option>
                     <option value="3">发货人手机号</option>
                </select>
            </div>
            <div class="layui-inline">
                <input class="layui-input" name="fleid" id="fleid" autocomplete="off">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">支付状态:</label>
            <div class="layui-input-inline">
                <select name="statusId" lay-filter="statusId" id="statusId" >
                    <option value="">全部订单</option>
                    <option value="1">已付款</option>
                    <option value="2">未付款</option>
                    <option value="3">货到付款</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">是否上门提货:</label>
            <div class="layui-input-inline">
                <select name="wetherOrderId" lay-filter="wetherOrderId" id="wetherOrderId">
                    <option value="">全部订单</option>
                    <option value="1">需要上门提货</option>
                    <option value="2">无需上门提货</option>
                </select>
            </div>
        </div>


    </form>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">出发地</label>
            <div class="layui-input-inline">
                <select name="aaa" lay-filter="aaa" id="aaa">
                    <option value="">请选择类型</option>
                    <option value="1">按发货地</option>
                    <option value="2">按收货地</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="id" lay-filter="sheng" id="sheng">
                    <option value="">请选择省</option>

                </select>
            </div>
            <div class="layui-input-inline">
                <select name="id" lay-filter="shi" id="shi">
                    <option value="">市</option>

                </select>
            </div>
            <div class="layui-input-inline">
                <select name="id" lay-filter="xian" id="xian">
                    <option value="" selected>区</option>
                </select>
            </div>
        </div>
   </form>


    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">下单时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="startPlaceDate" placeholder="yyyy-MM-dd">
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="endPlaceDate" placeholder="yyyy-MM-dd">
            </div>
        </div>
    </form>


    <button class="layui-btn" data-type="reload" id="anniu">搜索</button>
</div>

<table class="layui-hide" id="test" style="height: 600px"></table>


<script>
    layui.use('form',function () {
        var form = layui.form;
        form.render();
        $.post(
            "getsheng",
            function (obj) {
                for (var i = 0; i < obj.length; i++) {
                    $("#sheng").append("<option value=" + obj[i].id + ">" + obj[i].name + "</option>")
                }
                form.render("select");
            },
            "json"
        )
        //追加发货地的市
        form.on('select(sheng)', function (data) {

            $("#shi").empty();//当省发生改变把以前市区的数据清空
            $("#shi").append($("<option value='0'>请选择</option>"));//然后再追加一个请选择这样一个标签
            $("#xian").empty();//一起把以前县的数据清空
            $("#xian").append($("<option value='0'> 请选择</option>"));//然后再追加一个请选择这样一个标签
            if (data.value != 0) {
                $.post(
                    "getshi",
                    {typeid: data.value},
                    function (obj) {
                        for (var i = 0; i < obj.length; i++) {
                            $("#shi").append("<option value=" + obj[i].id + ">" + obj[i].name + "</option>")
                        }
                        form.render("select");
                    },
                    "json"
                )
            }
        });

        //追加发货地的县
        form.on('select(shi)', function (data) {
            $("#xian").empty();//当市区发生该变把以前县的数据清空
            $("#xian").append($("<option value='0'> 请选择</option>"));
            $.post(
                "getxian",
                {typeid: data.value},
                function (obj) {
                    for (var i = 0; i < obj.length; i++) {
                        $("#xian").append("<option value=" + obj[i].id + ">" + obj[i].name + "</option>")
                    }
                    form.render("select");
                },
                "json"
            )
        })
    });

</script>
</body>
<script th:inline="none">
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#startPlaceDate'
        });
        laydate.render({
            elem: '#endPlaceDate'
        });
    })


    var form='';//定义全局变量
    layui.use(['form','laydate'],function(){
        form  = layui.form,
            laydate = layui.layuidate;
        form.render();//更新渲染表单
    });
    $(function () {

        init();
   })

function init() {
    layui.use('table', function() {
        var table = layui.table;
        table.render({
            elem: '#test',
            dataType: 'json'
            , url: '/findOrder?zt=1'
            ,toolbar: 'default'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {field: 'id', width: 80, title: 'ID', sort: true}
                , {field: 'orderNo', width: 80, title: '订单号'}
                , {field: 'placeDate', width: 150, title: '下单时间', sort: true}
                , {field: 'shipping', width: 80, title: '发货人'}
                , {field: 'sendPhone', width: 100, title: '电话'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , {field: 'name', width: 80, title: '支付状态', sort: true}
                , {field: 'estimateMoney', width: 80, title: '预估运费',sort: true}
                , {field: 'zhong', width: 80, title: '总重量'}
                , {field: 'volume', width: 137, title: '总体积'}
                ,{field:'county', width:137, title: '从', sort: true}
                ,{field:'county1', width:137, title: '到', sort: true}

                ,{field:'right', title: '操作', width:150
                    ,templet: function(d){
                        return ' <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail" href="javascript:log(&quot;'+d.orderNo+'&quot;)">查看详细信息</a>'
                    }
                }
            ]],
            id: 'testReload',
            skin: 'row', //表格风格
            even: true, //隔行背景
            page: true, //是否显示分页
            limits: [2, 5, 10], //显示
            limit: 2, //每页默认显示的数量
            request: {
                page: 'pageNo', //页码的参数名称，默认：page
                limit: 'pageSize' //每页数据量的参数名，默认：limit
            }

        });

        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        statusId:$("#statusId").val(),
                        wetherOrderId: $("#wetherOrderId").val(),
                        draw:$("#draw").val(),
                        fleid:$("#fleid").val(),
                        startPlaceDate:$("#startPlaceDate").val(),
                        endPlaceDate:$("#endPlaceDate").val(),
                        aaa:$("#aaa").val(),
                        slid:$("#sheng").val(),
                        shiid:$("#shi").val(),
                        xianid:$("#xian").val()
                    }
                });
            }

        };
        $('#anniu').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
}

    function log(id){
        layer.open({
            type: 1,
            offset: 'auto',
            skin: 'layui-layer-rim', //加上边框
            area: ['600px', '1000px'], //宽高
            content:'<div id="dasd"></div>'
        });
        fu(id);
    }
    function  fu(id) {

        $.ajax({
            url:"/findById",
            type:"post",
            data:{"orderNo":id},
            success:function (data) {
                var str =    fu2(data.orderNo);
                var  a = data.acceptname;

                var html="";
                html ="<div>" +
                    "<input type='checkbox'><span>订单号:"+data.orderNo+"</span>" +
                    "<span>下单时间:"+data.placeDate+"</span>" +
                    "<span>从:"+data.county+"</span>" +
                    "<span>到:"+data.county1+"</span>" +
                    "&nbsp;<input type='button' value="+a+" onclick='updateAll("+data.orderNo+")'>"+
                    "</div>"+
                    "<div>"+
                    "<span>发货人信息</span>" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    " <span>收货人信息</span> " +
                    " &nbsp;<br>" +
                    "<hr><br>" +
                    " <span>发货单位："+data.forwarding+"</span> " +
                    "   &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "<span>收货单位："+data.consignee+"</span>" +
                    " &nbsp;<br>" +
                    "<span>联系人："+data.shipping+"</span>" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "<span>联系人："+data.delivery+"</span>" +
                    "&nbsp;<br>" +
                    "<span>电话："+data.sendPhone+"</span>" +
                    " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "<span>电话："+data.deliverPhone+"</span>" +
                    "&nbsp;<br>" +
                    "<span>提货地址："+data.bringSite+"</span>" +
                    " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                    "<span>送货地址："+data.presentSite+"</span>" +
                    "&nbsp;<br>" +
                    "</div>" +
                    " <hr><br>" +
                    "<span>货物信息</span>" +
                    " <hr><br>"+
                    "<div id='aaaa'>" +
                    "</div>" +
                    ""





                $("#dasd").html(html);
                $("#aaaa").html(str);

            }

        })
    }






    function fu2(id) {

        var html='<table cellspacing="100px">' +
            "<tr>" +
            "<th>货物名称</th>" +
            "<th>件数</th>" +
            "<th>包装类型</th>" +
            "<th>单件重量</th>" +
            "<th>单件体积</th>" +
            "</tr>" ;
        $.ajax({
            url:"/findgoods",
            type:"post",
            data:{goodsId:id},
            async:false,
            success:function (data) {

                for (var i=0;i<data.length;i++){
                    html+=

                        "<tr>" +
                        "<td><pre>      "+data[i].goodsName+"   </pre></td>" +
                        "<td><pre>      "+data[i].number+"      </pre></td>" +
                        "<td><pre>      "+data[i].packaging+"   </pre></td>" +
                        "<td><pre>      "+data[i].singleton+"kg </pre></td>" +
                        "<td> <pre>     "+data[i].volume+"m³    </pre></td>" +
                        "</tr>" +
                        "";
                }html+="</table>" +
                    "&nbsp;<br>" +
                    "<span>总重量："+data[0].singletons+"</span>" +
                    "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                    "<span>总体积："+data[0].volumes+"m³</span>" +
                    "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                    "<span>总件数："+data[0].numbers+"</span>" +
                    "&nbsp;<br>" +
                        ""
            },error:function(){

            }
        })
        return html;
    }


    $(function () {
        aaa();
        bbb();
    })
    function aaa() {
        var html="";
        $.ajax({
            url:"/findstay",
            type:"post",
            success:function (data) {
                html="<span><font size='4' color='red'>待受理订单（"+data+"）</font></span>" ;
                $("#stay").html(html);

            }

        })
    }

    function bbb()  {
        var html="";
        $.ajax({
            url:"/rental",
            type:"post",
            success:function (data) {
                html="<span><font size='4'color='red'>预估运费总额("+data+")</font></span>" +
                    "";
                $("#rental").html(html);
            }
        })

    }


    function updateAll(id){
        $.ajax({
            url:"/updateAll",
            type:"post",
            data:{"id":id},
            success:function (data) {
                fu(id);
                aaa();
                bbb();
            },error:function () {
            }
        })
    }
</script>

</html>